.list-group-item {
  .search_icon {
    float: right;
    cursor: pointer;
  }
}

body.modal-open, body.modal-open-new {
  overflow: hidden !important;
  height: 100% !important;
}

// body.modal-open-new {
//   & > *:not(.modal-new) {
//     filter: blur(10px);
//     transition: filter linear .5s;
//     overflow: hidden;
//     height: 100%;
//   }
// }


#modal-search.modal{
  overflow-y: hidden;
}

#modal-search{
  .modal-new-content {
    height: 100% !important;
    overflow: hidden;

    input, input:focus{
      border: none;
      border-bottom: 1px solid #eee;
      width: 100%;
      height:40px;
      font-size: 24px;
      color: #707070;
      box-shadow:none;
      -webkit-box-shadow: none;
      outline:0;
      margin-bottom: 15px;
    }

    input::-webkit-input-placeholder{
      color: #9d9d9d;
    }
  }

  .resultRow{
    margin: 0px;
    padding: 4px 2px;
    color: #9d9d9d;
  }

  .active{
    background: #f5f5f5;
  }

  .resultRow a{
    text-decoration: underline;
    font-size: 16px;
  }
}


#searchResult{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  & h4 {
    color: black;
    // font-size: 16px;
  }
  & .resultRows {
    margin-bottom: 30px;
  }
}


.searchResultWraper{
  position: relative;
  height: 90%;

  .notFound{
    position: absolute;
    left: 0px;
    top: 47%; //для более точного центра текста
    font-size: 18px;
    text-align: center;
    color: #9d9d9d;
    width: 100%;
  }
}



.hide {
  display: none !important;
}
