body {
  margin-top: 20px !important;
  overflow-x: hidden;
  background-color: #eee;
  background-image: url("../img/background/bg.jpg"); }

button:disabled, select:disabled {
  cursor: default !important; }

.bootbox-close-button {
  display: none; }

#delete-student {
  display: none; }

.modal-footer {
  border-top: 0; }

.ios7-switch.no-transition input + span, .ios7-switch.no-transition input + span:after {
  transition: none !important; }

.capitalize {
  text-transform: capitalize; }

h4.row-header {
  font-size: 16px;
  text-transform: uppercase; }

.underline-hover {
  cursor: pointer; }
  .underline-hover:hover {
    text-decoration: underline; }

.link-black {
  color: rgba(0, 0, 0, 0.5) !important; }
  .link-black:hover {
    color: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none; }

.link-white {
  color: white; }

.phone-duplicate {
  display: inline-block;
  background: #ffcccc;
  border-radius: 5px;
  padding: 1px 3px;
  color: rgba(0, 0, 0, 0.5) !important; }

.label-red {
  background: #ffcccc;
  border-radius: 5px;
  padding: 1px 3px;
  color: rgba(0, 0, 0, 0.5); }

.label-yellow {
  background: #fbaa33;
  border-radius: 5px;
  padding: 1px 3px;
  color: rgba(0, 0, 0, 0.5); }

.numberCircle {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #337AB7;
  color: white;
  text-align: center;
  font-size: 14px; }

.lightbox-new {
  position: fixed;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  display: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); }

.lightbox-sms {
  width: 60%;
  left: 20%;
  top: 10%; }

#sms-history {
  margin-bottom: 10px;
  padding-left: 23px;
  max-height: 300px;
  overflow: scroll; }

.clear-sms {
  width: 100%;
  display: inline-block; }

.sms-coordinates {
  display: block;
  font-size: 10px;
  color: #999;
  text-align: right; }

.sms-in-list {
  margin-left: 3px;
  margin-right: 1px !important;
  font-size: 12px;
  cursor: pointer; }

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right; }
  .from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px); }
  .from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px); }

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  max-width: 90%;
  float: left; }
  .from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px); }
  .from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px); }

.lightbox-addpayment {
  width: 670px;
  left: calc(50% - 335px);
  top: 25%; }

.lightbox-cancelcontract {
  width: 500px;
  left: calc(50% - 250px); }
  .lightbox-cancelcontract .input-group, .lightbox-cancelcontract input, .lightbox-cancelcontract select, .lightbox-cancelcontract textarea {
    width: 300px;
    float: right; }
  .lightbox-cancelcontract .input-label {
    margin-top: 7px;
    display: inline-block; }

.lightbox-addcontract {
  width: 800px;
  left: calc(50% - 400px); }
  .lightbox-addcontract .input-group, .lightbox-addcontract input, .lightbox-addcontract select {
    width: 230px;
    float: right; }
  .lightbox-addcontract .input-label {
    margin-top: 7px;
    display: inline-block; }
  .lightbox-addcontract .contract-subject-list.subject-line {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    height: 34px; }
  .lightbox-addcontract .contract-subject-list .ios7-switch .switch {
    font-size: 24px;
    margin-right: 15px; }
  .lightbox-addcontract .contract-subject-list .ios7-switch .subject-name {
    font-weight: normal;
    text-transform: capitalize;
    opacity: .5; }
  .lightbox-addcontract .contract-subject-list input[type="text"] {
    width: 80px; }

.visible {
  visibility: visible !important; }

.comment-block {
  font-size: 12px; }

.modal-open {
  overflow-y: visible;
  overflow-x: hidden; }

.blocker-div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99; }

.active-in-blocker {
  z-index: 100; }

.gray-link {
  color: #999999;
  text-decoration: none; }
  .gray-link:hover {
    color: #999999;
    text-decoration: underline; }
  .gray-link:focus {
    color: #999999;
    text-decoration: none; }

.contract-history-arrow {
  position: absolute;
  display: no;
  left: calc(50% - 12px);
  margin: 0;
  top: -31px;
  color: #eee;
  font-size: 24px;
  background-color: white; }

#panel-loading {
  position: absolute;
  z-index: 99;
  left: calc(50% - 16px);
  top: 260px; }

.pagination {
  margin: 0; }

.link-like {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer; }
  .link-like:hover {
    color: #23527c;
    text-decoration: underline; }

.link-reverse {
  text-decoration: underline; }
  .link-reverse.small {
    margin-left: 5px;
    font-size: 12px; }
  .link-reverse:hover {
    text-decoration: none; }

.link-in-h {
  font-size: 12px;
  text-transform: lowercase;
  font-weight: normal;
  margin-left: 7px; }

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  cursor: default; }

.vertical-align {
  display: flex;
  flex-direction: row; }

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Optional, to align inner items
                              horizontally inside the column */ }

.comment-block .glyphicon {
  color: #337ab7; }
  .comment-block .glyphicon.text-danger {
    color: #ff0039; }

.comment-add-field {
  outline: none;
  border: 0;
  border-bottom: 1px solid #eee;
  width: calc(100% - 20px);
  display: none; }

.comment-add {
  margin-top: 5px;
  font-size: 12px;
  margin-left: 2px;
  font-weight: bold; }

.loaded-file {
  font-size: 12px;
  margin-top: 3px;
  color: #999999; }

.request-duplicates {
  font-size: 12px;
  color: #999999;
  text-align: right; }

a.link-white {
  color: white; }

.no-outline {
  outline: none !important; }

.btn {
  outline: none !important; }

/*
.btn-primary:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
*/
.btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  cursor: pointer;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.map-save-button {
  position: absolute;
  bottom: 3%;
  text-transform: uppercase;
  left: calc(50% - 55px); }

.border-top-separator {
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding-top: 10px; }

.border-bottom-separator {
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
  padding-bottom: 10px; }

.freetime-line .label-success {
  display: inline-block;
  min-width: 39px;
  max-width: 39px; }

.inline-block {
  display: inline-block; }

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

.lightbox-element {
  display: none;
  z-index: 100;
  position: fixed; }

.lightbox-glue {
  width: 600px;
  height: 174px;
  top: calc(40% - 63px);
  left: calc(50% - 300px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5); }

.lightbox-map {
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;
  box-shadow: 0 0 150px 2px black; }

.page-title h4 {
  margin-top: 0; }

.o3 {
  opacity: .3 !important; }

h4 {
  font-weight: bold; }

.datepicker {
  padding: 10px; }

.glyphicon {
  margin-right: 5px; }

.list-group-item.active {
  cursor: default; }

.user-list {
  color: black;
  outline: none; }
  .user-list.small {
    height: 18px;
    width: 120px; }
  .user-list.top {
    height: 18px;
    width: 120px;
    margin-left: 10px;
    font-size: 12px !important; }

.half-black {
  color: rgba(0, 0, 0, 0.5) !important; }

.request-main-list hr {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  margin-top: 5px; }

.glyphicon.glyphicon-middle {
  top: 3px; }

.glyphicon.glyphicon-2px {
  top: 2px; }

.input-red-bg {
  background: #ffcccc; }

.link-text {
  color: #337ab7;
  text-decoration: none; }

/*
.link-like {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.link-like:hover {
  color: #23527c;
  text-decoration: underline;
}
*/
.payment-line input, .payment-line select {
  width: 105px;
  display: inline-block;
  margin: 0 5px; }

.payment-line .input-group {
  width: 140px; }

.center {
  margin: 0 auto;
  text-align: center; }

.row-split {
  border-top: 1px dashed #ccc;
  margin-top: 10px; }

.btn-default-hovered {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.svg-metro {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  position: relative;
  top: 3px; }

.form-group-side-label {
  padding: 7px 0; }

.half-field {
  width: 49%;
  display: inline-block; }

.save-coordinates {
  text-align: right;
  font-size: 12px;
  color: #999999;
  font-style: italic; }

.text-gray {
  color: #999999; }

.phone-masked {
  padding-right: 0; }

.addon-bordered {
  border-radius: 0 4px 4px 0 !important; }

.input-group-btn button {
  padding: 6px 9.5px; }

.save-coordinates-big {
  text-align: right;
  padding-top: 20px;
  color: #999999; }

.free-time-list {
  position: relative; }
  .free-time-list span.glyphicon {
    position: absolute;
    right: 30px;
    top: 4.5px; }

.add-subject-group td {
  padding: 1px;
  border-top: 0; }

.no-opacity {
  opacity: 1 !important; }

.opacity-pointer {
  opacity: .5;
  cursor: pointer; }
  .opacity-pointer:hover {
    opacity: 1; }

select.has-error, input.has-error, textarea.has-error {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; }

select.has-error:focus, input.has-error:focus {
  border-color: #843534 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important; }

.timepair span {
  float: left;
  width: 11%;
  text-align: center;
  top: 5px;
  position: relative; }

.timepair input, .timepair select {
  text-align: center;
  width: 26%;
  float: left;
  text-align: center;
  display: inline-block;
  padding: 0; }

.glyphicon-th, .no-margin-right {
  margin-right: 0 !important; }

.datepicker-dropdown {
  margin-top: 26px !important; }

.rubble-addon {
  font-weight: bold;
  padding: 0 15px; }

.btn-group-freetime {
  margin-bottom: 12px; }

.btn-group-freetime > .btn {
  padding: 4px 5px;
  outline: none !important; }

.day-chosen {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important; }

.add-freetime-block {
  /*
	-webkit-transition: opacity linear .3s;
	opacity: .2;
	&:hover {
		opacity: 1;
	}
*/ }

.bottom-dashed {
  border-bottom: 1px dashed #eee;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block; }

.printable {
  display: none; }

.table.bb {
  margin-bottom: 10px; }

.table.bb > tbody > tr > td, .table.bb > tbody > tr > th, .table.bb > tfoot > tr > td, .table.bb > tfoot > tr > th, .table.bb > thead > tr > td, .table.bb > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 0;
  border-bottom: 1px solid #ddd; }

.request-line-link {
  display: inline-block;
  min-width: 85px; }

.input-group-with-hidden-span {
  width: 100%; }
  .input-group-with-hidden-span input {
    border-radius: 4px !important; }

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none; }
  .sidebar-nav .navbar ul {
    float: none; }
  .sidebar-nav .navbar ul:not {
    display: block; }
  .sidebar-nav .navbar li {
    float: none;
    display: block; }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px; }
  .modal-dialog {
    margin: 15% auto; } }
