body {
  margin-top: 20px !important;
  overflow-x: hidden;
  background-color: #eee;
  background-image: url("../img/background/bg.jpg"); }

.comment-block .glyphicon {
  color: #337ab7; }

#comment-add-field {
  outline: none;
  border: 0;
  border-bottom: 1px solid #eee;
  width: 300px;
  display: none; }

#comment-add {
  margin-top: 2px; }

.loaded-file {
  font-size: 12px;
  margin-top: 3px;
  color: #999999; }

.request-duplicates {
  font-size: 12px;
  color: #999999;
  text-align: right; }

a.link-white {
  color: white; }

.no-outline {
  outline: none !important; }

.btn {
  outline: none !important; }

/*
.btn-primary:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
*/
.btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  cursor: pointer;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.map-save-button {
  position: absolute;
  bottom: 3%;
  text-transform: uppercase;
  left: calc(50% - 55px); }

.border-top-separator {
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding-top: 10px; }

.inline-block {
  display: inline-block; }

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

.lightbox-element {
  display: none; }

.lightbox-map {
  position: fixed;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 5%;
  z-index: 100;
  box-shadow: 0 0 150px 2px black; }

.page-title h4 {
  margin-top: 0; }

.o3 {
  opacity: 0.3 !important; }

h4 {
  font-weight: bold; }

.datepicker {
  padding: 10px; }

.glyphicon {
  margin-right: 5px; }

.list-group-item.active {
  cursor: default; }

#user-list {
  color: black; }

.glyphicon.glyphicon-middle {
  top: 3px; }

.input-red-bg {
  background: #ffcccc; }

.link-text {
  color: #337ab7;
  text-decoration: none; }

.link-like {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer; }

.link-like:hover {
  color: #23527c;
  text-decoration: underline; }

.payment-line input, .payment-line select {
  width: 105px;
  display: inline-block;
  margin: 0 5px; }

.center {
  margin: 0 auto;
  text-align: center; }

.row-split {
  border-top: 1px dashed #ccc;
  margin-top: 10px; }

.btn-default-hovered {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad; }

.svg-metro {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  position: relative;
  top: 3px; }

.form-group-side-label {
  padding: 7px 0; }

.half-field {
  width: 49%;
  display: inline-block; }

.save-coordinates {
  text-align: right;
  padding-top: 20px;
  font-size: 12px;
  color: #999999;
  font-style: italic; }

.save-coordinates-big {
  text-align: right;
  padding-top: 20px;
  color: #999999; }

.add-subject-group td {
  padding: 1px;
  border-top: 0; }

.opacity-pointer {
  opacity: 0.5;
  cursor: pointer; }
  .opacity-pointer:hover {
    opacity: 1; }

.timepair {
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding-top: 10px; }

.timepair input {
  width: 56px;
  text-align: center;
  margin: 0 5px; }

.glyphicon-th, .no-margin-right {
  margin-right: 0 !important; }

.datepicker-dropdown {
  margin-top: 26px !important; }

.rubble-addon {
  font-weight: bold;
  padding: 0 15px; }

.btn-group-freetime {
  margin-bottom: 12px; }

.btn-group-freetime > .btn {
  padding: 4px 5px;
  outline: none !important; }

.day-chosen {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important; }

.add-freetime-block {
  /*
	-webkit-transition: opacity linear .3s;
	opacity: .2;
	&:hover {
		opacity: 1;
	}
*/ }

.bottom-dashed {
  border-bottom: 1px dashed #eee;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: inline-block; }

.printable {
  display: none; }

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none; }

  .sidebar-nav .navbar ul {
    float: none; }

  .sidebar-nav .navbar ul:not {
    display: block; }

  .sidebar-nav .navbar li {
    float: none;
    display: block; }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px; }

  .modal-dialog {
    margin: 15% auto; }
 }
