	// Цвета
	$placeholder_gray 	: #999999;
	$blue				: #337AB7;
	$red				: #ff0039;
	$hr_gray 			: #eee;

body {
	margin-top: 20px !important;
	overflow-x: hidden;
	background-color: #eee;
	background-image: url("../img/background/bg.jpg");
}

.comment-block {
	font-size: 12px;
}

.modal-open {
	overflow-y: visible;
	overflow-x: hidden;
}

.blocker-div {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.active-in-blocker {
	z-index: 100;
}

.gray-link {
	color: #999999;
	text-decoration: none;
	&:hover {
		color: #999999;
		text-decoration: underline;
	}
	&:focus {
		color: #999999;
		text-decoration: none;
	}
}

.contract-history-arrow {
	position: absolute;
    display: no;
    left: calc(50% - 12px);
    margin: 0;
    top: -11px;
    color: #eee;
    font-size: 24px;
    background-color: white;
}

#panel-loading {
	position: absolute;
    z-index: 99;
    left: calc(50% - 16px);
    top: 350px;
}

#request-edit {
	min-height: 800px;
}


.pagination {
	margin: 0;
}

.link-like {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
    &:hover {
	    color: #23527c;
	    text-decoration: underline;
	}
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	cursor: default;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

.comment-block {
	& .glyphicon {
		color: #337ab7;
		&.text-danger {
			color: $red;
		}
	}
}

#comment-add-field {
  outline: none;
  border: 0;
  border-bottom: 1px solid $hr_gray;
  width: calc(100% - 20px);
  display: none;
}

#comment-add {
	margin-top: 5px;
	font-size: 12px; 
	margin-left: 2px; 
	font-weight: bold;
}

#fileupload {
//	position: fixed;
//	overflow: hidden;
//	left: -999999px;
}

.loaded-file {
	font-size: 12px;
	margin-top: 3px;
	color: $placeholder_gray;
}

.request-duplicates {
	font-size: 12px;
	color: $placeholder_gray;
	text-align: right;
}

a.link-white {
	color: white;
}

.no-outline {
	outline: none !important;
}


.btn {
  outline: none !important;
}

/*
.btn-primary:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
*/

.btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    cursor: pointer;
//    min-height: 100%;
//    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.map-save-button {
    position: absolute;
    bottom: 3%;
    text-transform: uppercase;
    left: calc(50% - 55px);
    
}

.border-top-separator {
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding-top: 10px;
}

.border-bottom-separator {
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.freetime-line {
	& .label-success {
		display: inline-block;
		min-width: 39px;
		max-width: 39px;
	}
}

.gmnoprint {
//	display: none;
}

.inline-block {
	display: inline-block;
}


.lightbox {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	background: rgba(0, 0, 0, 0.4);
	display: none;
}

.lightbox-element {
	display: none;
	z-index: 100;
	position: fixed;

}

.lightbox-glue {
	width: 600px;
	height: 126px;
	top: calc(40% - 63px);
	left: calc(50% - 300px);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
//	background: white;
//	padding: 10px;
}

.lightbox-map {
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
	box-shadow: 0 0 150px 2px black;
}

.page-title h4 {
	margin-top: 0;
}

.o3 {
	opacity: .3 !important;
}

h4 {
	font-weight: bold;
}

.datepicker {
	padding: 10px;
}

.glyphicon {
	margin-right: 5px;
}

.list-group-item.active {
	cursor: default;
}

#user-list {
	color: black;
}

.glyphicon {
	&.glyphicon-middle {
		top: 3px;
	}
}

.input-red-bg {
	background: #ffcccc;
}

.link-text {
  color: #337ab7;
  text-decoration: none;
}

/*
.link-like {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.link-like:hover {
  color: #23527c;
  text-decoration: underline;
}
*/

.payment-line input, .payment-line select {
	width: 105px;
	display: inline-block;
	margin: 0 5px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.row-split {
	border-top: 1px dashed #ccc;
	margin-top: 10px;
}

.btn-default-hovered {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.svg-metro {
	height: 15px;
	width: 15px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.form-group-side-label {
	padding: 7px 0;
}

.half-field {
	width: 49%; 
	display: inline-block;
}

.save-coordinates {
	text-align: right; 
	padding-top: 20px; 
	font-size: 12px; 
	color: $placeholder_gray;
	font-style: italic;
}

.save-coordinates-big {
	text-align: right; 
	padding-top: 20px; 
	color: $placeholder_gray;
}

thead {
//	font-weight: bold;
//	font-size: 12px;
}

.free-time-list {
	position: relative;
	& span.glyphicon {
		position: absolute;
		right: 30px;
		top: 4.5px;
	}
}

.add-subject-group td {
	padding: 1px;
	border-top: 0;
}

.opacity-pointer {
	opacity: .5;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

select.has-error, input.has-error {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

select.has-error:focus, input.has-error:focus {
  border-color: #843534 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
}

.timepair {
//	border-top: 1px dashed $hr_gray;
//	margin-top: 20px;
//	padding-top: 10px;	
	& span {
		float: left;
		width: 11%;
		text-align: center;
		top: 5px;
		position: relative;
	}
}

.timepair input, .timepair select {
	text-align: center;
	width: 26%;
//	margin-right: 5px;
	float: left; 
	text-align: center; 
//	margin: 0 5px;
	display: inline-block;
	padding: 0;
}

.glyphicon-th, .no-margin-right {
	margin-right: 0 !important;
}

.datepicker-dropdown {
	margin-top: 26px !important;
}

.rubble-addon {
  font-weight: bold;
  padding: 0 15px;
}

.btn-group-freetime {
	margin-bottom: 12px;
}

.btn-group-freetime > .btn {
	padding: 4px 5px;
	outline: none !important;
}

.day-chosen {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.add-freetime-block {
/*
	-webkit-transition: opacity linear .3s;
	opacity: .2;
	&:hover {
		opacity: 1;
	}
*/
}

.bottom-dashed {
	border-bottom: 1px dashed #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.printable {
	display: none
}

.table.bb {
	margin-bottom: 10px;
}
.table.bb>tbody>tr>td, .table.bb>tbody>tr>th, .table.bb>tfoot>tr>td, .table.bb>tfoot>tr>th, .table.bb>thead>tr>td, .table.bb>thead>tr>th {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #ddd;	
}

.request-line-link {
	display: inline-block;
	min-width: 85px;
}

.input-group-with-hidden-span { 
	width: 100%;
	& input {
		border-radius: 4px !important;
	}
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .modal-dialog {
	  margin: 15% auto;
	}
}