	// Цвета
	$placeholder_gray 	: #999999;
	$blue				: #337AB7;
	$hover_blue			: #23527c;

	$red				: #ff0039;
	$pink				: #ffcccc;
	$orange				: #fbaa33;
	
	$green				: #5cb85c;
	
	$hr_gray 			: #eee;
	$half_black			: rgba(0, 0, 0, .5);

body {
	margin-top: 20px !important;
	overflow-x: hidden;
	background-color: #eee;
	background-image: url("../img/background/bg.jpg");
}

.top-links {
	margin-bottom: 20px;
	& a, span.link-like {
		margin-right: 15px;
	}
	& span.active {
		font-weight: bold;
		color: black;
		cursor: default;
		text-decoration: none;
	}
}
.link-current {
	margin-right: 15px;
    font-weight: bold;
}

[ng-app="Group"], [ng-app="Settings"] {
	& thead tr:nth-child(1) {
		display: none;
	}
	
	& thead {
		display: none;
	}
	
	& .calendar-row {
		height: 185px;
	    overflow: hidden;
	}
	
	& .day:nth-child(2n + 6), .day:nth-child(2n + 7) {
		color: #999 !important;
	}
	
	& .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
		padding: 0;
	}
	
	& .day {
		border-radius: 50% !important;
	}
	
	& .day.active {
		background: #5cb85c !important;
		color: white !important;
	}
	
	& .dow {
		color: #999 !important;
		font-weight: normal;
		text-transform: lowercase;
	}
	& .month-name {
		text-transform: capitalize;
//		line-height: 226px;	
		line-height: 173px;
	}
	
	& .lessons-table {
		margin-top: 19px;
	    position: fixed;
	    right: -20px !important;
	    top: 11.5%;
	    margin: 0;
	    max-height: 710px;
	    overflow-y: scroll;
	    & input {
		    width: 110px;
	    }
	}
	
	& .lessons-count {
	    position: fixed;
//	    top: 9.6%;
		top: 11.5%; 
	    right: 19%;
	    font-weight: bold;
	}
	& .vocation {
		background-color: $red !important;
		color: white;
		&.active {
			background: #00b700 !important; /* Old browsers */
			background: -moz-linear-gradient(top,  #00b700 0%, #00b700 50%, #ff0039 51%, #ff0039 100%) !important; /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b700), color-stop(50%,#00b700), color-stop(51%,#ff0039), color-stop(100%,#ff0039)) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #00b700 0%,#00b700 50%,#ff0039 51%,#ff0039 100%) !important; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #00b700 0%,#00b700 50%,#ff0039 51%,#ff0039 100%) !important; /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #00b700 0%,#00b700 50%,#ff0039 51%,#ff0039 100%) !important; /* IE10+ */
			background: linear-gradient(to bottom,  #00b700 0%,#00b700 50%,#ff0039 51%,#ff0039 100%) !important; /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b700', endColorstr='#ff0039',GradientType=0 ); /* IE6-9 */
		}
	}
	
	& .old, & .new {
		visibility: hidden !important;
	}
}

[ng-app="Settings"] {
	& .day.active {
		background-color: $red !important;
	}
}

#task-app {
	& .task-separator {
		width: 150px;
		height: 6px;
		background-color: $green;
		margin-bottom: 3px;
	}
	
	& .attachment {
		color: #999999;
		font-size: 12px;
		cursor: pointer;
		margin-right: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	
	& .task-line {
	//	border-top: 1px dashed rgba(0, 0, 0, 0.05);
		margin-bottom: 50px;
		position: relative;
	}
	
	& .controls-buttons {
		text-align: right; 
		display: inline-block; 
		width: 100%;
		margin-top: 10px;
		& button {
			width: 150px;
			margin-left: 20px;
		}
	}
	
	& .task-status-toggle {
//		height: 64px !important;
		height: 50px !important;
		opacity: .8;
		cursor: pointer;
		position: absolute;
//		top: calc(50% - 30px + 25px);
		top: 50%;
		right: 10px;
		&:hover {
			opacity: 1;
		}
	}
}


.sms-template {
	display: none;
}

.no-border-bottom {
	border-bottom: 0 !important;
}

.half-opacity {
	opacity: .5;
}

.half-opacity-color {
	color: rgba(51, 122, 184, 0.5);
	&:hover {
		color: rgba(35, 83, 126, 0.5);
	}
}

.cke_button__about {
	display: none !important;
}
.cke_contents {
    border: 3px solid #F2F2F2 !important;
    top: -3px;
    position: relative !important;
}

.panel-heading {
	& a {
		color: white;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
}

.label {
	font-weight: normal;
}

#frontend-loading {
	position: absolute;
    z-index: 99;
    height: 99.9%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    line-height: 150px;
    display: none;
}

.sms-template-list {
	text-align: left;
	margin-bottom: 10px;
	& span {
		font-size: 12px;
		color: $blue;
		border-bottom: 1px dotted $blue;
		cursor: pointer;
		margin-right: 5px;
		&:hover {
			border-color: $hover_blue;
			color: $hover_blue;
		}
	}	
}

button:disabled, select:disabled {
	cursor: default !important;
}

.bootbox-close-button {
	display: none;
}

.display-none {
	display: none;
}

#delete-student {
	display: none;
}

.gmap-search-control {
	top: 5px !important;
	right: 10px !important;
	width: 200px;
	opacity: .8;
	&:hover {
		opacity: 1;
	}
}

.modal-footer {
	border-top: 0;
}

.ios7-switch.no-transition input + span, .ios7-switch.no-transition input + span:after {
	transition: none !important;
}


.capitalize {
	text-transform: capitalize;
}

h4.row-header {
	font-size: 16px;
	text-transform: uppercase;
}

.underline-hover {
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.link-black {
	color: rgba(0, 0, 0, .5) !important;
	&:hover {
		color: rgba(0, 0, 0, .5) !important;
		text-decoration: none;
	}
}

.link-white {
	color: white
}

.phone-duplicate {
	display: inline-block;
	background: $pink;
	border-radius: 5px;
	padding: 1px 3px;
	color: rgba(0, 0, 0, .5) !important;
}

.label-red {
	background: #ffcccc;
	border-radius: 5px;
	padding: 1px 3px;
//	color: #761316;
	color: $half_black;
}

.label-yellow {
//	background: #FBAA33;
	background: $orange;
	border-radius: 5px;
	padding: 1px 3px;
//	color: white;
	color: $half_black;
}

.numberCircle {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;

    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: #337AB7;
    color: white;
    text-align: center;
    font-size: 14px;
}

.lightbox-new {
  position: fixed;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  display: none;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}



.lightbox-sms, .lightbox-email {
	width: 60%;
//	height: 80%;
	left: 20%;
	top: 10%;
}

#sms-history, #email-history {
	margin-bottom: 10px;
    padding-left: 23px;
    max-height: 300px;
    overflow-y: scroll;
}

.clear-sms {
//	clear: both; 
//	margin-bottom: 10px
	width: 100%;
	display: inline-block;
}

.sms-coordinates {
	display: block;
    font-size: 10px;
    color: #999;
    text-align: right;
    & a {
		color: #999;
		font-size: 10px !important;
    }
}

.sms-in-list {
	margin-left: 3px;
	margin-right: 1px !important;
	font-size: 12px;
	cursor: pointer;
}

.from-me {
	position:relative;
	padding:10px 20px;
	color:white; 
	background:#0B93F6;
	border-radius:25px;
	float: right;
		
	&:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid #0B93F6;
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}
.from-them {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
	max-width: 90%;
  float: left;
		
	&:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #E5E5EA;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}

.lightbox-addpayment {
	width: 670px;
	left: calc(50% - 335px);
	top: 25%;
}

.lightbox-manualedit {
	width: 80%;
	left: 10%;
	top: 2%;
}

.lightbox-confirmpayment, .lightbox-confirmpassword {
	width: 300px;
	left: calc(50% - 150px);
	top: 25%;
}

.lightbox-print {
	width: 670px;
	left: calc(50% - 335px);
	top: 25%;
}

.modal-header {
	border: none !important;
	padding-bottom: 0 !important;
}

.modal-body {
	padding-bottom: 0 !important;
}

.modal-password .modal-footer {
	text-align: center !important;
}

.modal-password .modal-dialog {
	width: 250px;
	text-align: center;
	& input {
		text-align: center;
	}
}

.form-control[disabled], fieldset[disabled] .form-control {
	cursor: default
}

.lightbox-cancelcontract {
	width: 500px;
	left: calc(50% - 250px);

	& .input-group, input, select, textarea {
		width: 300px;
		float: right;
	}

	& .input-label {
		margin-top: 7px;
		display: inline-block;
	}
}

.lightbox-addcontract {
	width: 820px;
	left: calc(50% - 410px);

	& .input-group, input, select {
		width: 230px;
		float: right;
	}

	& .input-label {
		margin-top: 7px;
		display: inline-block;
	}

	& .contract-subject-list {
		&.subject-line {
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;
			height: 34px;
		}
		& .ios7-switch {
			& .switch {
				font-size: 24px;
				margin-right: 15px;
			}

			& .subject-name {
				font-weight: normal;
				text-transform: capitalize;
				opacity: .5;
			}
		}
		& input[type="text"] {
			width: 60px;
		//	visibility: hidden;
		}
	}
}

.visible {
	visibility: visible !important;
}

.comment-block {
	font-size: 12px;
}

.modal-open {
	overflow-y: visible;
	overflow-x: hidden;
}

.blocker-div {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.active-in-blocker {
	z-index: 100;
}

.gray-link {
	color: #999999;
	text-decoration: none;
	&:hover {
		color: #999999;
		text-decoration: underline;
	}
	&:focus {
		color: #999999;
		text-decoration: none;
	}
}


.contract-history-arrow {
	position: absolute;
    display: no;
    left: calc(50% - 12px);
    margin: 0;
    top: -31px;
    color: #eee;
    font-size: 24px;
    background-color: white;
}

#panel-loading {
	position: absolute;
    z-index: 99;
    left: calc(50% - 16px);
    top: 260px;
}

.panel-edit .panel-body {
	opacity: .05;
}

#request-edit {
//	min-height: 800px;
}


.pagination {
	margin: 0;
}

.link-like {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
    &:hover {
	    color: #23527c;
	    text-decoration: underline;
	}
	
	&.red {
		color: #a94442;
	}
}

.bootstrap-select .btn:focus, .selectpicker a {
	outline: none !important;
}

.link-reverse {
	&.small {
		margin-left: 5px;
		font-size: 12px;
	}
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.link-in-h {
	font-size: 12px;
	text-transform: lowercase;
	font-weight: normal;
	margin-left: 7px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	cursor: default;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

.comment-block {
	& .glyphicon {
		color: #337ab7;
		&.text-danger {
			color: $red;
		}
	}
}

.comment-add-field {
  outline: none;
  border: 0;
  border-bottom: 1px solid $hr_gray;
  width: calc(100% - 20px);
  display: none;
}

.comment-add {
	margin-top: 5px;
	font-size: 12px;
	margin-left: 2px;
	font-weight: bold;
}

.loaded-file {
	font-size: 12px;
	margin-top: 3px;
	color: $placeholder_gray;
}

.request-duplicates {
	font-size: 12px;
	color: $placeholder_gray;
	text-align: right;
}

a.link-white {
	color: white;
}

.no-outline {
	outline: none !important;
}


.btn {
  outline: none !important;
}

/*
.btn-primary:focus {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
*/

.btn-default:focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    cursor: pointer;
//    min-height: 100%;
//    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.map-save-button {
    position: absolute;
    bottom: 3%;
    text-transform: uppercase;
    left: calc(50% - 55px);

}

.border-top-separator {
  border-top: 1px dashed #eee;
  margin-top: 20px;
  padding-top: 10px;
}

.border-bottom-separator {
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.freetime-line {
	& .label-success {
		display: inline-block;
		min-width: 39px;
		max-width: 39px;
	}
}

.gmnoprint {
//	display: none;
}

.inline-block {
	display: inline-block;
}


.lightbox {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.lightbox-element {
	display: none;
	z-index: 100;
	position: fixed;

}

.lightbox-glue {
	width: 600px;
	height: 141px;
	top: calc(40% - 63px);
	left: calc(50% - 300px);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
//	background: white;
//	padding: 10px;
}

.lightbox-map {
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
	box-shadow: 0 0 150px 2px black;
}

.page-title h4 {
	margin-top: 0;
}

.o3 {
	opacity: .3 !important;
}

h4 {
	font-weight: bold;
}

.datepicker {
	padding: 10px;
}

.glyphicon {
	margin-right: 5px;
}

.list-group-item.active {
	cursor: default;
}

.user-list {
	color: black;
	outline: none;
	&.small {
		height: 18px;
		width: 120px;
	}
	&.top {
		height: 18px;
		width: 120px;
		margin-left: 10px;
		font-size: 12px !important;
	}
}

.half-black {
	color: rgba(0, 0, 0, .5) !important;
}

.quater-black {
	color: rgba(0, 0, 0, .25) !important;
}

.request-main-list {
//	border: 1px solid transparent;
	margin-bottom: 10px; 
	background-color: rgba(255, 255, 255, 0.1);
	& hr {
		border-top: 1px solid rgba(0,  0,  0, 0.4);
		margin-top: 5px;
	}
	
	&.ui-draggable-dragging {
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
}

.request-status-drop-hover {
	background: #337ab7;
	border-radius: 4px 4px 0 0;
	& a {
		color: white !important;
	}
}

.glyphicon {
	&.glyphicon-middle {
		top: 3px;
	}
	&.glyphicon-2px {
		top: 2px;
	}
}

.input-red-bg {
	background: #ffcccc;
}

.link-text {
  color: #337ab7;
  text-decoration: none;
}

/*
.link-like {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

.link-like:hover {
  color: #23527c;
  text-decoration: underline;
}
*/

.payment-line input, .payment-line select {
	width: 105px;
	display: inline-block;
	margin: 0 5px;
}

.payment-line .input-group {
	width: 140px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.row-split {
	border-top: 1px dashed #ccc;
	margin-top: 10px;
}

.btn-default-hovered {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.svg-metro {
	height: 15px;
	width: 15px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.form-group-side-label {
	padding: 7px 0;
}

.half-field {
	width: 49%;
	display: inline-block;
}

.save-coordinates {
	text-align: right;
//	padding-top: 20px;
	font-size: 12px;
	color: $placeholder_gray;
	font-style: italic;
}

.text-gray {
	color: $placeholder_gray;
}

.phone-masked {
//	padding: 5px;
	padding-right: 0;
}

.addon-bordered {
	border-radius: 0 4px 4px 0 !important;
}

.input-group-btn {
	& button {
		padding: 6px 9.5px;
	}
}

.save-coordinates-big {
	text-align: right;
	padding-top: 20px;
	color: $placeholder_gray;
}

thead {
//	font-weight: bold;
//	font-size: 12px;
}

.free-time-list {
	position: relative;
	& span.glyphicon {
		position: absolute;
		right: 30px;
		top: 4.5px;
	}
}

.add-subject-group td {
	padding: 1px;
	border-top: 0;
}

.no-opacity {
	opacity: 1 !important;
}

.opacity-pointer {
	opacity: .5;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

select.has-error, input.has-error, textarea.has-error {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

select.has-error:focus, input.has-error:focus {
  border-color: #843534 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483 !important;
}

.has-error-bold {
	border-color: #843534 !important;
    box-shadow: 0 0 10px 2px #ce8483 !important;
	transition: all linear .5s;
}

.timepair {
//	border-top: 1px dashed $hr_gray;
//	margin-top: 20px;
//	padding-top: 10px;
	& span {
		float: left;
		width: 11%;
		text-align: center;
		top: 5px;
		position: relative;
	}
}

.timepair input, .timepair select {
	text-align: center;
	width: 26%;
//	margin-right: 5px;
	float: left;
	text-align: center;
//	margin: 0 5px;
	display: inline-block;
	padding: 0;
}

.glyphicon-th, .no-margin-right {
	margin-right: 0 !important;
}

.datepicker-dropdown {
	margin-top: 26px !important;
}

.rubble-addon {
  font-weight: bold;
  padding: 0 15px;
}

.btn-group-freetime {
	margin-bottom: 12px;
}

.btn-group-freetime > .btn {
	padding: 4px 5px;
	outline: none !important;
}

.day-chosen {
  color: #333 !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.add-freetime-block {
/*
	-webkit-transition: opacity linear .3s;
	opacity: .2;
	&:hover {
		opacity: 1;
	}
*/
}

.bottom-dashed {
	border-bottom: 1px dashed #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.printable {
	display: none
}

.table.bb {
	margin-bottom: 10px;
}
.table.bb>tbody>tr>td, .table.bb>tbody>tr>th, .table.bb>tfoot>tr>td, .table.bb>tfoot>tr>th, .table.bb>thead>tr>td, .table.bb>thead>tr>th {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.request-line-link {
	display: inline-block;
	min-width: 85px;
}

.input-group-with-hidden-span {
	width: 100%;
	& input {
		border-radius: 4px !important;
	}
}

.table.table-divlike > tbody > tr > td {
	border-top: none;
	padding: 0;
	padding-bottom: 5px;
}



/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .modal-dialog {
	  margin: 15% auto;
	}
}
