RewriteEngine On

RewriteBase /egecrm

# На эти папки не использовать правила
RewriteRule ^(css|js|img|fonts|compass)($|/) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

###### Правила ######

# Вход, регистрация
RewriteRule ^register$ index.php?controller=login&action=register [QSA,L]
RewriteRule ^logout$ index.php?controller=login&action=logout [QSA,L]
RewriteRule ^login$ index.php?controller=login&action=login [QSA,L]

# AJAX
RewriteRule ^ajax/([a-zA-Z]+)[/]?$ index.php?controller=ajax&action=Ajax$1 [QSA,L]

# Заявки
RewriteRule ^requests/edit/([0-9]+)$ index.php?controller=request&action=edit&id=$1 [QSA,L]
RewriteRule ^requests/add[/]?$ index.php?controller=request&action=add [QSA,L]
RewriteRule ^requests/ajax/([a-zA-Z]+)[/]?$ index.php?controller=request&action=Ajax$1 [QSA,L]
RewriteRule ^requests/([a-zA-Z]+)[/]?$ index.php?controller=request&action=list&id_status=$1 [QSA,L]
RewriteRule ^requests[/]?$ index.php?controller=request&action=list [QSA,L]

# Учителя
RewriteRule ^teachers/edit/([0-9]+)?$ index.php?controller=teacher&action=edit&id=$1 [QSA,L]
RewriteRule ^teachers/add[/]?$ index.php?controller=teacher&action=add [QSA,L]
RewriteRule ^teachers/ajax/([a-zA-Z]+)[/]?$ index.php?controller=teacher&action=Ajax$1 [QSA,L]
RewriteRule ^teachers[/]?$ index.php?controller=teacher&action=list [QSA,L]

# Группы
RewriteRule ^groups/edit/([0-9]+)?$ index.php?controller=group&action=edit&id=$1 [QSA,L]
RewriteRule ^groups/add[/]?$ index.php?controller=group&action=add [QSA,L]
RewriteRule ^groups/ajax/([a-zA-Z]+)[/]?$ index.php?controller=group&action=Ajax$1 [QSA,L]
RewriteRule ^groups[/]?$ index.php?controller=group&action=list [QSA,L]


# Уведомления
RewriteRule ^notifications[/]?$ index.php?controller=notification&action=list [QSA,L]

# Статистика
RewriteRule ^stats[/]?$ index.php?controller=stats [QSA,L]

# Клиенты
RewriteRule ^clients[/]?$ index.php?controller=clients [QSA,L]
RewriteRule ^payments[/]?$ index.php?controller=payments [QSA,L]
RewriteRule ^student/([0-9]+)?$ index.php?controller=students&action=findById&id_student=$1 [QSA,L]


# SMS
RewriteRule ^sms[/]?$ index.php?controller=sms [QSA,L]

# RATING
RewriteRule ^rating[/]?$ index.php?controller=rating [QSA,L]
RewriteRule ^rating/([0-9]+)?$ index.php?controller=rating&action=branchRating&id_branch=$1 [QSA,L]


# API
RewriteRule ^api/([a-zA-Z]+)[/]?$ index.php?controller=api&action=$1 [QSA,L]
RewriteRule ^metro/([a-zA-Z]+)[/]?$ index.php?controller=metro&action=$1 [QSA,L]

# CRON
RewriteRule ^cron/([a-zA-Z]+)[/]?$ index.php?controller=cron&action=$1 [QSA,L]

# TEST
RewriteRule ^test/([a-zA-Z]+)[/]?$ index.php?controller=test&action=$1 [QSA,L]

# Поиск
RewriteRule ^search[/]?$ index.php?controller=search [QSA,L]

# Загрузки
RewriteRule ^upload/([a-zA-Z]+)[/]?$ index.php?controller=upload&action=Ajax$1 [QSA,L]
RewriteRule ^upload[/]?$ index.php?controller=upload [QSA,L]

# Если шо, переводим на логин
RewriteRule ^[/]?$ index.php?controller=login&action=login [QSA,L]