RewriteEngine On

# На эти папки не использовать правила
RewriteRule ^(css|js|img|fonts|compass)($|/) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^egecrm/(.*) https://%{HTTP_HOST}/$1 [L,R=301]

###### Правила ######

# Вход, регистрация
RewriteRule ^login/forgot-password$ index.php?controller=login&action=password [QSA,L]
RewriteRule ^login/([a-zA-Z]+)[/]?$ index.php?controller=login&action=$1 [QSA,L]
RewriteRule ^logout$ index.php?controller=login&action=logout [QSA,L]
RewriteRule ^login$ index.php?controller=login&action=login [QSA,L]

# AJAX
RewriteRule ^ajax/([a-zA-Z]+)[/]?$ index.php?controller=ajax&action=Ajax$1 [QSA,L]

# Отчеты
RewriteRule ^teachers/reports/student/([0-9]+)/([0-9]+)[/]?$ index.php?controller=reports&action=student&id_student=$1&id_subject=$2 [QSA,L]
RewriteRule ^students/reports/teacher/([0-9]+)/([0-9]+)[/]?$ index.php?controller=reports&action=teacher&id_teacher=$1&id_subject=$2 [QSA,L]
RewriteRule ^(teachers/)?reports/add/([0-9]+)/([0-9]+)[/]?$ index.php?controller=reports&action=add&id_student=$2&id_subject=$3 [QSA,L]
RewriteRule ^(students/|teachers/)?reports/([0-9]+)?[/]?$ index.php?controller=reports&action=list&year=$2 [QSA,L]

RewriteRule ^(students/|teachers/)?reports[?page=(0-9)]?[/]?$ index.php?controller=reports&action=list&page=$1 [QSA,L]
RewriteRule ^(students/|teachers/)?reports/([a-zA-Z]+)[/]?$ index.php?controller=reports&action=$2 [QSA,L]
RewriteRule ^(students/|teachers/)?reports/view/([0-9]+)[/]?$ index.php?controller=reports&action=view&id=$2 [QSA,L]
RewriteRule ^(students/|teachers/)?reports/edit/([0-9]+)[/]?$ index.php?controller=reports&action=edit&id=$2 [QSA,L]

# Заявки
RewriteRule ^requests/edit/([0-9]+)$ index.php?controller=request&action=edit&id=$1 [QSA,L]
RewriteRule ^requests/add[/]?$ index.php?controller=request&action=add [QSA,L]
RewriteRule ^requests/ajax/([a-zA-Z]+)[/]?$ index.php?controller=request&action=Ajax$1 [QSA,L]
RewriteRule ^requests/relevant[/]?$ index.php?controller=request&action=relevant [QSA,L]
RewriteRule ^requests/([a-zA-Z]+)[/]?$ index.php?controller=request&action=list&id_status=$1 [QSA,L]
RewriteRule ^requests/([a-zA-Z]+)/([0-9]+)[/]?$ index.php?controller=request&action=list&id_status=$1&page=$2 [QSA,L]
RewriteRule ^requests[/]?$ index.php?controller=request&action=list [QSA,L]

# Учителя
RewriteRule ^teachers/salary[/]?([0-9]+)?[/]?$ index.php?controller=teacher&action=Salary&year=$1 [QSA,L]
# RewriteRule ^teachers/salary/([0-9]+)?$ index.php?controller=teacher&action=Salary&id_teacher=$1 [QSA,L]
RewriteRule ^teachers/edit/([0-9]+)?$ index.php?controller=teacher&action=edit&id=$1 [QSA,L]
RewriteRule ^teachers/add[/]?$ index.php?controller=teacher&action=add [QSA,L]
RewriteRule ^teachers/html[/]?$ index.php?controller=teacher&action=faq [QSA,L]
RewriteRule ^teachers/ajax/([a-zA-Z]+)[/]?$ index.php?controller=teacher&action=Ajax$1 [QSA,L]
RewriteRule ^teachers[/]?$ index.php?controller=teacher&action=list [QSA,L]

# Группы
RewriteRule ^(students/|teachers/)?lesson/([0-9]+)?$ index.php?controller=group&action=lesson&id=$2 [QSA,L]
RewriteRule ^groups/edit/([0-9]+)?$ index.php?controller=group&action=edit&id=$1 [QSA,L]
RewriteRule ^(students/|teachers/)?groups/edit/([0-9]+)/schedule[/]?$ index.php?controller=group&action=schedule&id=$2 [QSA,L]
RewriteRule ^(students/|teachers/)?groups/journal/([0-9]+)$ index.php?controller=group&action=journal&id=$2 [QSA,L]
RewriteRule ^groups/schedule/download[/]?$ index.php?controller=group&action=DownloadSchedule [QSA,L]
RewriteRule ^groups/add[/]?$ index.php?controller=group&action=add [QSA,L]
RewriteRule ^groups/ajax/([a-zA-Z]+)[/]?$ index.php?controller=group&action=Ajax$1 [QSA,L]
RewriteRule ^(students/|teachers/)?groups[?page=(0-9)]?[/]?$ index.php?controller=group&action=list&page=$1 [QSA,L]

RewriteRule ^students/schedule?[/]?$ index.php?controller=group&action=yearSchedule [QSA,L]
RewriteRule ^students/balance?[/]?$ index.php?controller=StudentsProfile&action=balance [QSA,L]

# Настройки
RewriteRule ^settings/([a-zA-Z]+)[/]?$ index.php?controller=settings&action=$1 [QSA,L]
RewriteRule ^settings/([a-zA-Z]+)/([0-9]+)[/]?$ index.php?controller=settings&action=$1&id=$2 [QSA,L]
RewriteRule ^settings/ajax/([a-zA-Z]+)[/]?$ index.php?controller=settings&action=Ajax$1 [QSA,L]

RewriteRule ^tasks[/]?$ index.php?controller=task&action=list [QSA,L]
RewriteRule ^tasks/([0-9]+)[/]?$ index.php?controller=task&action=list&list=$1 [QSA,L]

RewriteRule ^tasks/ajax/([a-zA-Z]+)[/]?$ index.php?controller=task&action=Ajax$1 [QSA,L]

# Статистика
RewriteRule ^stats[/]?$ index.php?controller=stats [QSA,L]
RewriteRule ^stats/groups[/]?$ index.php?controller=stats&action=groups [QSA,L]
RewriteRule ^stats/payments[/]?$ index.php?controller=stats&action=payments [QSA,L]
RewriteRule ^stats/payments/teachers[/]?$ index.php?controller=stats&action=payments&teachers=1 [QSA,L]
RewriteRule ^stats/visits/total[/]?$ index.php?controller=stats&action=TotalVisits [QSA,L]



# Клиенты
RewriteRule ^clients[?page=(0-9)]?[/]?$ index.php?controller=clients&page=$1 [QSA,L]
RewriteRule ^clients/subjects[?page=(0-9)]?[/]?$ index.php?controller=clients&action=subjects&page=$1 [QSA,L]
RewriteRule ^clients/([a-zA-Z]+)[/]?$ index.php?controller=clients&action=$1 [QSA,L]
RewriteRule ^clients/ajax/([a-zA-Z]+)[/]?$ index.php?controller=clients&action=Ajax$1 [QSA,L]

RewriteRule ^payments[/]?$ index.php?controller=payments [QSA,L]
RewriteRule ^(teachers/)?payments/([a-zA-Z]+)[/]?$ index.php?controller=payments&action=$2 [QSA,L]
RewriteRule ^student/([0-9]+)?$ index.php?controller=students&action=findById&id_student=$1 [QSA,L]

RewriteRule ^(teachers/|students/)?faq[/]?$ index.php?controller=faq&action=faq [QSA,L]
RewriteRule ^students/reviews[/]?$ index.php?controller=TeacherReviews&action=list [QSA,L]
RewriteRule ^reviews/([0-9]+)[/]?$ index.php?controller=TeacherReviews&action=view&id=$1 [QSA,L]
RewriteRule ^(students/)?reviews/([0-9]+)/([0-9]+)/([0-9]+)[/]?([0-9]*)[/]?$ index.php?controller=TeacherReviews&action=admins&id_teacher=$2&id_subject=$3&year=$4&id_student=$5 [QSA,L]
RewriteRule ^reviews[?page=(0-9)]?[/]?$ index.php?controller=TeacherReviews&action=reviews&page=$1 [QSA,L]

RewriteRule ^reviews/ajax/([a-zA-Z]+)[/]?$ index.php?controller=TeacherReviews&action=Ajax$1 [QSA,L]

RewriteRule ^templates[/]?$ index.php?controller=templates&action=list[QSA,L]
RewriteRule ^templates/ajax/([a-zA-Z]+)[/]?$ index.php?controller=templates&action=Ajax$1 [QSA,L]

RewriteRule ^students/photo[/]?$ index.php?controller=studentsProfile&action=photo [QSA,L]
RewriteRule ^students/ajax/([a-zA-Z]+)[/]?$ index.php?controller=studentsProfile&action=Ajax$1 [QSA,L]

# SMS
RewriteRule ^sms[/]?$ index.php?controller=sms [QSA,L]
RewriteRule ^sms/ajax/([a-zA-Z]+)[/]?$ index.php?controller=sms&action=Ajax$1 [QSA,L]
RewriteRule ^sms/([0-9]+)[/]?$ index.php?controller=sms&page=$1 [QSA,L]

# RATING
# RewriteRule ^rating[/]?$ index.php?controller=rating [QSA,L]
# RewriteRule ^rating/sum[/]?$ index.php?controller=rating&action=sum [QSA,L]
# RewriteRule ^rating/subject/([0-9]+)[/]?$ index.php?controller=rating&action=subjectRating&id_subject=$1 [QSA,L]
# RewriteRule ^rating/([0-9]+)?$ index.php?controller=rating&action=branchRating&id_branch=$1 [QSA,L]

# Пользователи
RewriteRule ^users[/]?$ index.php?controller=users [QSA,L]
RewriteRule ^users/edit/([0-9]+)[/]?$ index.php?controller=users&action=edit&id=$1 [QSA,L]
RewriteRule ^users/ajax/([a-zA-Z]+)[/]?$ index.php?controller=users&action=Ajax$1 [QSA,L]
RewriteRule ^users/create[/]?$ index.php?controller=users&action=create [QSA,L]
RewriteRule ^users/contract[/]?$ index.php?controller=users&action=contract [QSA,L]

# Внутренние тестирования
RewriteRule students/tests[/]?$ index.php?controller=tests&action=StudentList [QSA,L]
RewriteRule ^students/tests/intro/([0-9]+)[/]?$ index.php?controller=tests&action=intro&id=$1 [QSA,L]
RewriteRule ^students/tests/start/([0-9]+)[/]?$ index.php?controller=tests&action=start&id=$1 [QSA,L]
RewriteRule tests[/]?$ index.php?controller=tests [QSA,L]
RewriteRule tests/students[/]?[?page=(0-9)]?$ index.php?controller=tests&action=studentTests&page=$1 [QSA,L]
RewriteRule tests/create[/]?$ index.php?controller=tests&action=create [QSA,L]
RewriteRule ^tests/edit/([0-9]+)[/]?$ index.php?controller=tests&action=edit&id=$1 [QSA,L]
RewriteRule ^tests/([a-zA-Z]+)[/]?$ index.php?controller=tests&action=$1 [QSA,L]
RewriteRule ^tests/ajax/([a-zA-Z]+)[/]?$ index.php?controller=tests&action=Ajax$1 [QSA,L]

# Пропущенные
RewriteRule ^calls/missed[/]?$ index.php?controller=calls&action=missed [QSA,L]
RewriteRule ^calls/ajax/([a-zA-Z]+)[/]?$ index.php?controller=calls&action=Ajax$1 [QSA,L]

# as
RewriteRule ^as/(teacher|student)/([0-9]+)[/]?$ index.php?controller=as&type=$1&id=$2 [QSA,L]
RewriteRule ^as/cancel[/]?$ index.php?controller=as&action=cancel [QSA,L]

# API
RewriteRule ^api/([a-zA-Z]+)[/]?$ index.php?controller=api&action=$1 [QSA,L]
RewriteRule ^metro/([a-zA-Z0-9]+)[/]?$ index.php?controller=metro&action=$1 [QSA,L]

# CRON
RewriteRule ^cron/([a-zA-Z]+)[/]?$ index.php?controller=cron&action=$1 [QSA,L]

# TEST
RewriteRule ^test/([a-zA-Z]+)[/]?$ index.php?controller=test&action=$1 [QSA,L]
RewriteRule ^cron/([a-zA-Z]+)[/]?$ index.php?controller=cron&action=$1 [QSA,L]

# TEND
RewriteRule ^tendency[/]?$ index.php?controller=tendency [QSA,L]
RewriteRule ^tendency/([a-zA-Z]+)[/]?$ index.php?controller=tendency&action=$1 [QSA,L]

# Поиск
RewriteRule ^search[/]?$ index.php?controller=search [QSA,L]

# Загрузки
RewriteRule ^upload/([a-zA-Z]+)[/]?$ index.php?controller=upload&action=Ajax$1 [QSA,L]
RewriteRule ^upload[/]?$ index.php?controller=upload [QSA,L]

# Если шо, переводим на логин
RewriteRule ^[/]?$ index.php?controller=login&action=login [QSA,L]

# Mango
RewriteRule ^stream?$ index.php?controller=stream&action=index [QSA,L]
RewriteRule ^stream/get[?page=(0-9)]?[/]?$ index.php?controller=stream&action=get [QSA,L]

# Mango
RewriteRule ^mango/([a-zA-Z]+)[/]?$ index.php?controller=mango&action=$1 [QSA,L]
RewriteRule ^mango/events/([a-zA-Z]+)[/]?$ index.php?controller=mango&action=Event$1 [QSA,L]
RewriteRule ^mango/result/([a-zA-Z]+)[/]?$ index.php?controller=mango&action=Result$1 [QSA,L]

# Активность
RewriteRule ^activity[/]?$ index.php?controller=activity [QSA,L]
RewriteRule ^activity/get/([0-9]+)/([0-9\.]+)[/]?$ index.php?controller=activity&action=get&user_id=$1&date=$2 [QSA,L]

# Карта
RewriteRule ^map[/]?$ index.php?controller=map [QSA,L]
RewriteRule ^map/markers[/]?$ index.php?controller=map&action=markers [QSA,L]

# logs
RewriteRule ^logs/ajax([a-zA-Z]+)[/]?$ index.php?controller=logs&action=Ajax$1 [QSA,L]
RewriteRule ^logs[?page=(0-9)]?[/]?$ index.php?controller=logs&action=$1 [QSA,L]

RewriteRule ^get/comments/([a-zA-Z]+)/([0-9]+)[/]?$ index.php?controller=comments&action=get&place=$1&id=$2 [QSA,L]
RewriteRule ^get/users[/]?([0-9]+)?[/]?$ index.php?controller=users&action=get&id=$1 [QSA,L]
RewriteRule ^get/sms/([0-9]+)?[/]?$ index.php?controller=sms&action=get&number=$1 [QSA,L]
RewriteRule ^directives/([a-zA-Z]+)[/]?$ views/directives/$1.html [QSA,L]

# Договора
RewriteRule ^contracts[?page=(0-9)]?[/]?$ index.php?controller=contracts&page=$1 [QSA,L]
RewriteRule ^contracts/payments[?page=(0-9)]?[/]?$ index.php?controller=contracts&action=payments&page=$1 [QSA,L]
RewriteRule ^contracts/ajax/([a-zA-Z]+)[/]?$ index.php?controller=contracts&action=Ajax$1 [QSA,L]
