<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
	<meta charset="UTF-8">
    <title></title>
</head>

<body>
	
	<style>
/*
		table {
			border: 1px solid black;
		}
*/
		table tr td {
			border: 1px solid black;
		}
	</style>
    <center>
    	<div style="width: 40%; font-size: 12px">
        Внимание! Оплата данного счета означает согласие с условиями поставки товара. Уведомление об оплате обязательно, в противном случае не гарантируется наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.
    	</div>
    </center>
    
    <table>
	    <tr>
		    <td colspan="2">
			    АО "АЛЬФА-БАНК"<br><br>
			    Банк получателя
		    </td>
		    <td>БИК</td>
	    </tr>
    </table>
</body>
</html>
