<div class="lightbox-new lightbox-sms">
    <input type="hidden" id="sms-mode" value="1">
    <h4 class="text-center" id="sms-number">
        <span ng-show="number">{{ PhoneService.format(number) }}</span>
    </h4>
    <div class="row">
        <div class="col-sm-12" id="sms-history">
            <div class="text-center text-gray" ng-show="history_loading">загрузка истории сообщений...</div>
            <div class="clear-sms" ng-repeat="sms in history">
                <div class="from-them">
                    {{ sms.message }}
                    <div class="sms-coordinates" data-id="{{ sms.id }}">
                        {{ UserService.getLogin(sms.id_user) }}
                        {{ sms.date | formatDateTime }}
                        {{ sms.mass ? '(массовое)' : '' }}
                        <svg class="sms-status" ng-class="SmsService.getStatus(sms)">
                            <circle r="3" cx="7" cy="7"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="form-group" style="position: relative; margin-bottom: 0">
                <textarea rows="4" class="form-control full-width" placeholder="Текст сообщения" id="sms-message" ng-model="message"></textarea>
                <span class="pull-right" id="sms-counter">
				{{ smsCount() }} СМС
			</span>
            </div>

            <div class="sms-template-list">
                <span ng-click="setTemplate(1)">подтверждение договоренности</span>
                <span ng-click="setTemplate(2)">нет связи с клиентом</span>
                <span ng-click="setTemplate(3)">нет связи с ожидающими и не решившими</span>
                <span class="fake" ng-show="templates == TEMPLATES_FULL">
                    <span onclick="loginPasswordTemplate()">логин/пароль</span>
                    <span onclick="newTestTemplate()">новый тест</span>
                </span>

                <div class="sms-group-controls pull-right" ng-show="mode">
					<span style="margin-right: 7px; color: black; border-bottom: none">
						<input type="checkbox" onclick="ang_scope.to_students = !ang_scope.to_students; ang_scope.$apply()" checked> ученикам
					</span>
                    <span style="color: black; border-bottom: none">
						<input type="checkbox" onclick="ang_scope.to_representatives = !ang_scope.to_representatives; ang_scope.$apply()"> представителям
					</span>
                    <span style="color: black; border-bottom: none" ng-show-="mode == GROUP_SMS_MODE">
						<input type="checkbox" onclick="ang_scope.to_teacher = !ang_scope.to_teacher; ang_scope.$apply()"> преподавателю
					</span>
                </div>
            </div>

            <div style="clear: both">
                <button class="btn btn-primary ajax-sms-button"
                        ng-click="send()"
                >Отправить</button>
            </div>
        </div>
    </div>
</div>

<!--ng-disabled="sms_sending"-->